<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/home.css" />
    <title>Facebook - Login</title>
  </head>
  <body>
    <div class="main">
      <div class="logo">
        <img
          src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg"
          alt=""
        />
      </div>
      <form action="/home" method="post">
      <div class="container">
        <span class="login">Facebook page Integration</span>
        <button class="login-btn"><a href ="/signout">Connect Page</a></button>
      </div>
    </div>
  </form>
  </body>
</html>
