<%- include ('./partials/header') %>

<!DOCTYPE html>
<html>
    <head>
        <title>Facebook Helpdesk</title>
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div id="landing-header">
 		<h1>Welcome to Sonal's Project!</h1>
		<!-- <a href="/home" class="btn btn-lg btn-success">Reply To message</a> -->
    </div>
    
    
<%- include ('./partials/footer') %>
